# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "81ed1c4fad8e69f7da1fcdfeff0c5f08"
name = "discount-app"
application_url = "https://d390ef4ca6df.ngrok-free.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_discounts"

[auth]
redirect_urls = [
  "https://d390ef4ca6df.ngrok-free.app/auth",
  "https://d390ef4ca6df.ngrok-free.app/auth/callback",
  "https://d390ef4ca6df.ngrok-free.app/auth/login"
]
